<p><%= link_to "Back", products_path %></p>

<section class="product">
  <%= image_tag @product.featured_image if @product.featured_image.attached? %>

  <section class="product-info">
    <% cache @product do %>
      <h1><%= @product.name %></h1>
      <%= @product.description %>
    <% end %>

    <%= render "inventory", product: @product %>

    <% if authenticated? %>
      <%= link_to "Edit", edit_product_path(@product) %>
      <%= button_to "Delete", @product, method: :delete, data: { turbo_confirm: "Are you sure?" } %>
    <% end %>
  </section>
</section>



<!-- Breadcrumb Start -->
    <div class="container-fluid mt-4">
        <div class="row px-xl-5">
            <div class="col-12">
            <nav class="breadcrumb bg-white mb-30" id="cus-breadcrumb">
                    <a class="breadcrumb-item text-dark" href="#">Home</a>
                    <a class="breadcrumb-item text-dark" href="#">Shop</a>
                    <span class="breadcrumb-item active">Detail</span>
                </nav>
            </div>
        </div>
    </div>
    <!-- Breadcrumb End -->
    <!-- Shop Detail Start -->
    <div class="container-fluid pb-5">
        <div class="row px-xl-5">
            <div class="col-lg-5 mb-30">
              <%= image_tag @product.featured_image , class:"img-fluid" if @product.featured_image.attached? %>
            </div>
            <div class="col-lg-7 h-auto mb-30">
                <div class="h-100 bg-white p-30">
                <% cache @product do %>
                  <h3><%= @product.name %></h3>
                <% end %>                 
                    <h3 class="font-weight-semi-bold mb-4"><%= number_to_currency(@product.price.to_f / 100.0, unit: "£", precision: 2) %></h3>
                    <p class="mb-4"><%= @product.short_description %></p>
                    <%= render "inventory", product: @product %>
                    <div class="flex-column align-items-center mb-4 pt-2">
                        <div class="input-group quantity mr-3" style="width: 150px;">
                            <div class="input-group-btn">
                                <button class="btn btn-primary btn-minus">
                                    <i class='bx bx-minus'></i>
                                </button>
                            </div>
                            <input type="text" class="form-control bg-custom-input-text border-0 text-center" value="1">
                            <div class="input-group-btn">
                                <button class="btn btn-primary btn-plus">
                                    <i class='bx bx-plus'></i>
                                </button>
                            </div>
                        </div>
                        <a href="#" class="btn btn-danger cus-btn-addtocart"><i class='bx bx-cart'></i> Add To Cart</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="row px-xl-5">
            <div class="col">
                <div class="bg-white p-30">
                    <div class="nav nav-tabs mb-4">
                        <a class="nav-item nav-link text-dark active" data-bs-toggle="tab" href="#tab-pane-1">Description</a>
                    </div>
                    <div class="tab-content">
                        <div class="tab-pane fade show active p-description" id="tab-pane-1">
                            <h4 class="mb-3 fs-3">Product Description</h4>
                            <h6 class="mt-4"><%= @product.name %></h6>
                            <p><%= @product.description %></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Shop Detail End -->
